.vitepress-ribbon-icon-hide {
	display: none;
}

.vitepress-debug-console {
	--dialog-width: 75%;
}

.vitepress-debug-console .modal-content {
	white-space: pre-line;
	user-select: text;
	overflow: auto;
}

.vite-press-publisher-folder-config {
	display: flex;
	gap: 8px;
	padding: 0 12px 12px;
	flex-wrap: wrap;
}

.vite-press-publisher-folder-config .switch-box {
	display: flex;
	align-items: center;
}

.setting-item-info__hide .setting-item-info {
	display: none;
}

.setting-item-info__hide .setting-item-control {
	justify-content: flex-start;
}

.setting-item-info__hide {
	border-top: none;
	padding-bottom: 0;
}

.vitepress-setting-warning {
	padding: 0 8px 12px;
}

.vitepress-setting-warning span {
	color: #CB3030FF;
	font-size: 0.9em;
}

.obsidian-setting-sub {
	margin-left: 50px;
	white-space: pre;
}

.obsidian-setting-warningtext-misj {
	white-space: pre;
}

.obsidian-setting-required .setting-item-name::before {
	content: " * ";
	color: #CB3030FF;
}
